#background {
    -fx-fill: #ffffff;
    -fx-stroke: #000000;
    -fx-stroke-width: 1px;
    -fx-arc-height: 5px;
    -fx-arc-width: 5px;
    -fx-alignment: center;
    -fx-cursor: hand;
}

AnchorPane {
    -fx-cursor: hand;
}

#text {
    -fx-alignment: center;
    -fx-padding: 2 5 2 5;
    -fx-cursor: hand;
}

#slider {
    -fx-fill: BLACK;
}